#!/bin/bash

export VAL_DIR=$MAINDIR/validation
export VAL_OUTDIR=${OUTDIR}/validation/${FCST_YY}${FCST_MM}${FCST_DD}/$FCST_ZZ

export GSMAP_DATA="gauge" # options : gauge, nrt, now [can only be run at 9:00 PHT sharp]
export STATION_ID="MOIP"
export STATION_NAME="Manila Observatory"
export CITY_ID="NCR"

export TEMP_DIR=${VAL_DIR}/.tmp

export CONDA_PREFIX=${VAL_DIR}/venv
export MPLBACKEND="agg"
export PYTHONPATH=${VAL_DIR}/scripts:$PYTHONPATH
export PYTHON=${CONDA_PREFIX}/bin/python
